/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/

nav, ul, main{
  display: flex;
  justify-content: space-around;
}
ul{
  flex-basis: 60%;
}
main section{
  flex-basis: 48%;
}
main section + section{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;  
}
.bottom {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container{
  display: flex;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
